.dscar-bg-comments {
  background-color: var(--dsc-color-bg-comment_section);
  padding-bottom: 0.1px;
}

.dcar-container h2 {
  color: var(--dsc-color-font-primary);
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media (max-width: 320px) {
  .dcar-container h2 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
  }
}
