h2 {
  margin-top: 25px;
  color: var(--dsc-color-font-primary);
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
}

@media (max-width: 320px) {
  h2 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
  }
}
