.dscar-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 746px;
  width: 100%;
  margin-bottom: 25px;
}

.dscar-card .imgCar {
  width: 100%;
  height: auto;
  max-width: 391px;
  max-height: 292px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.dscar-card h3 {
  color: var(--dsc-color-font-primary);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 320px) {
  .dscar-card .imgCar {
    width: 100%;
    height: auto;
    max-width: 260px;
    max-height: 194.46px;
  }
  .dscar-card h3 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  }

  .dscar-card .imgCar {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
