.ds-header-bg {
  background-color: var(--dsc-color-bg-header_and_bottom);
  color: var(--dsc-color-font-secondary);
  height: 70px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

@media (max-width: 320px) {
  h1 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
  }
}
