@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dsc-color-bg-header_and_bottom: #3c9af0;
  --dsc-color-bg-primary: #ffffff;
  --dsc-color-bg-comment_section: #c8c8c8;

  --dsc-color-card-bg: #fff;
  --dsc-color-card-border: #3c9af0;

  --dsc-color-font-primary: #5e5e5e;
  --dsc-color-font-secondary: #ffffff;
  --dsc-color-font-tertiary: #3c9af0;
  --dsc-color-font-placeholder: #d9d9d9;
}

.dcar-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 960px;
  padding-left: 20px;
  padding-right: 20px;
}

.dscar-centralizado-ao-meio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.dscar-borderBlue {
  border: 1px solid var(--dsc-color-card-border);
  border-radius: 12px;
}


